node_modules
.env
yarn-error.log

.DS_Store
/work
/node_modules
*.configbean
/pids
/log
.cache
.beans
/static
*.log
.telemetry.json
restarts_*
.eslint-checkstyle.xml
**/test/snapshots/
gh-pages

oom_1

storybook-static/

# IDE
.vscode
.idea/

# code coverage
.coverage/
reports/
junit.xml
xunit.xml

# compiled JS files
*.js.map
/index.js
/routes.js

allure-results/
allure-report/
__mocks__/**/*.js

coverage/
